<div>
    <div class="submit-form">
      <div *ngIf="!submitted">
  
        <div class="form-group">
          <label for="description">Parent Name</label>
          <input
            class="form-control"
            id="name"
            required
            [(ngModel)]="parent.name"
            name="name"
          />
        </div>
        <form class="form-inline">
            <div class="form-group">
              <div class="input-group">
                <input class="form-control" placeholder="yyyy-mm-dd"
                       name="dp" [(ngModel)]="parent.birthDate" ngbDatepicker #d="ngbDatepicker">
                <div class="input-group-append">
                  <button class="btn btn-outline-secondary calendar" (click)="d.toggle()" type="button"></button>
                </div>
              </div>
            </div>
          </form>
        <button (click)="saveParent()" class="btn btn-success">Submit</button>
      </div>
  
      <div *ngIf="submitted">
        <h4>Parent was submitted successfully!</h4>
        <button class="btn btn-success" (click)="newParent()">Add</button>
      </div>
    </div>
  </div>